<footer>
    <div class="f-info">
        <div class="f-info-special">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-linkedin"></i>

        </div>
        <div>&copy; 2023 Your Company. All rights reserved.</div>
        <div class="f-info-links">
            <a href="#">Contact Us</a>
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
        </div>
    </div>
</footer>