<% layout('/layouts/boilerplate') -%>

<body>
    <h1>Listing</h1>
    <form action="/listings/new" method="GET">
        <button>Create Listing</button>
    </form>
    <ul>
        
        <% for(let user of users){%>
            <a href="/listing/<%= user._id %>">
                <li>
                    <%= user.title %>
                </li>
            </a>
            <% } %>
    </ul>
</body>
